# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/
env/

# Data
data/raw/
data/processed/
data/reports/
data/external/
*.csv
*.parquet
*.db

# MLflow / ZenML
mlruns/
mlflow.db
.zen/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
